In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler  #Importando as bibliotecas

In [2]:
df = pd.read_csv("dataset_feedback_realista.csv") #Lendo o dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         100 non-null    int64
 1   idade      90 non-null     float64
 2   renda      95 non-null     float64
 3   cidade     97 non-null     object
 4   categoria  100 non-null    object
 5   nota       97 non-null     float64
 6   feedback   100 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 5.6+ KB

In [4]:
df.head(15)

     id  idade     renda          cidade categoria  nota feedback
0   101    NaN   2155.26          Palmas         A   8.7      Bom
1   102   56.0   6050.40          Palmas         B   6.2  Regular
2   103   34.0  12651.80          Recife         A   2.2     Ruim
3   104    NaN   2889.14         Aracaju         B   7.9  Regular
4   105   51.0   4950.60         Aracaju         B   5.2  Regular
5   106   24.0   8621.84        Salvador         A   9.1      Bom
6   107   37.0   1791.86          Recife         B   5.1     Ruim
7   108   24.0   2936.05           Natal         B   5.2     Ruim
8   109   46.0   2755.93          Recife         A   8.4      Bom
9   110   42.0   9913.62         Aracaju         B   6.0  Regular
10  111   27.0  12442.19  Belo Horizonte         B   8.1  Regular
11  112   18.0   6839.70       Fortaleza         B   9.5  Regular
12  113   66.0   4608.00             NaN         A   3.5     Ruim
13  114   56.0   1630.03        Brasilia         B   6.1      Bom
14  115   49.0   9507.69    Porto Alegre         A   7.7      Bom

In [5]:
df.isnull().sum() #Vericando se h√° valores nulos

id            0
idade        10
renda         5
cidade        3
categoria     0
nota          3
feedback      0
dtype: int64

In [37]:
mean_idade= df['idade'].mean()
mean_nota= df['nota'].mean()
mean_renda= df['renda']. mean()

print({median_idade})
print({median_nota})
print({mean_renda})                  #Estatisticas dos valores quantitativos

{np.float64(39.666666666666664)}
{np.float64(5.106185567010309)}
{np.float64(6592.24252631579)}

In [35]:
#Quartis, outliers renda

q1= df['renda'].quantile(0.25)
q3= df['renda'].quantile(0.75)
iqr= q3-q1
limite_inferior = q1 - 1.5 * iqr 
limite_superior = q3 + 1.5 * iqr
print(f"\n\n\t iqr - Campo Renda\n\n")
print(f"Quartis -> q1: {q1:-8.2f}) -> {q3:-8.2f}")
print(f"iqr ----- {iqr}")
print(f"Limites - Inf: {limite_inferior:-8.2f} -> Sup: {limite_superior:-8.2f}")
print(f'\n\n')

#Definindo o limite superior, limite inferior 

outliers = df[(df['renda'] < limite_inferior) | (df['renda'] > limite_superior)]
print(f"\n### Poss√≠veis outliers em 'renda' ###\n\n{outliers}\n") #OBS: Sem Outliers

	 iqr - Campo Renda


Quartis -> q1:  3680.40) ->  9512.36
iqr ----- 5831.9575
Limites - Inf: -5067.54 -> Sup: 18260.29




### Poss√≠veis outliers em 'renda' ###

Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [36]:
#Quartis, outliers idade

q1= df['idade'].quantile(0.25)
q3= df['idade'].quantile(0.75)
iqr= q3-q1
limite_inferior = q1 - 1.5 * iqr 
limite_superior = q3 + 1.5 * iqr
print(f"\n\n\t iqr - Campo Renda\n\n")
print(f"Quartis -> q1: {q1:-8.2f}) -> {q3:-8.2f}")
print(f"iqr ----- {iqr}")
print(f"Limites - Inf: {limite_inferior:-8.2f} -> Sup: {limite_superior:-8.2f}")
print(f'\n\n')

#Definindo o limite superior, limite inferior 

outliers = df[(df['idade'] < limite_inferior) | (df['idade'] > limite_superior)]
print(f"\n### Poss√≠veis outliers em 'renda' ###\n\n{outliers}\n") #OBS: Sem Outliers

	 iqr - Campo Renda


Quartis -> q1:    27.00) ->    50.00
iqr ----- 23.0
Limites - Inf:    -7.50 -> Sup:    84.50




### Poss√≠veis outliers em 'renda' ###

Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [25]:
#Quartis, outliers nota

q1= df['nota'].quantile(0.25)
q3= df['nota'].quantile(0.75)
iqr= q3-q1
limite_inferior = q1 - 1.5 * iqr 
limite_superior = q3 + 1.5 * iqr
print(f"\n\n\t iqr - Campo Renda\n\n")
print(f"Quartis -> q1: {q1:-8.2f}) -> {q3:-8.2f}")
print(f"iqr ----- {iqr}")
print(f"Limites - Inf: {limite_inferior:-8.2f} -> Sup: {limite_superior:-8.2f}")
print(f'\n\n')

#Definindo o limite superior, limite inferior 

outliers = df[(df['nota'] < limite_inferior) | (df['nota'] > limite_superior)]
print(f"\n### Poss√≠veis outliers em 'renda' ###\n\n{outliers}\n") #OBS: Sem Outliers

	 iqr - Campo Renda


Quartis -> q1:     2.60) ->     7.70
iqr ----- 5.1
Limites - Inf:    -5.05 -> Sup:    15.35




### Poss√≠veis outliers em 'renda' ###

Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [38]:
df['idade']= df['idade'].fillna(mean_idade)
df['nota']= df['nota'].fillna(mean_nota)
df['renda']= df['renda'].fillna(mean_renda)

In [39]:
df.isnull().sum()

id           0
idade        0
renda        0
cidade       0
categoria    0
nota         0
feedback     0
dtype: int64

In [40]:
df['cidade'] = df['cidade'].fillna('Desconhecido')

df.isnull().sum()

id           0
idade        0
renda        0
cidade       0
categoria    0
nota         0
feedback     0
dtype: int64

In [41]:
df.head(20)

     id      idade     renda          cidade categoria       nota feedback
0   101  39.666667   2155.26          Palmas         A   8.700000      Bom
1   102  56.000000   6050.40          Palmas         B   6.200000  Regular
2   103  34.000000  12651.80          Recife         A   2.200000     Ruim
3   104  39.666667   2889.14         Aracaju         B   7.900000  Regular
4   105  51.000000   4950.60         Aracaju         B   5.200000  Regular
5   106  24.000000   8621.84        Salvador         A   9.100000      Bom
6   107  37.000000   1791.86          Recife         B   5.100000     Ruim
7   108  24.000000   2936.05           Natal         B   5.200000     Ruim
8   109  46.000000   2755.93          Recife         A   8.400000      Bom
9   110  42.000000   9913.62         Aracaju         B   6.000000  Regular
10  111  27.000000  12442.19  Belo Horizonte         B   8.100000  Regular
11  112  18.000000   6839.70       Fortaleza         B   9.500000  Regular
12  113  66.000000   4608.00    Desconhecido         A   3.500000     Ruim
13  114  56.000000   1630.03        Brasilia         B   6.100000      Bom
14  115  49.000000   9507.69    Porto Alegre         A   7.700000      Bom
15  116  48.000000  10962.24        Teresina         A   5.106186  Regular
16  117  39.666667   2067.97          Manaus         B  10.000000      Bom
17  118  63.000000   9020.31           Natal         A   3.700000     Ruim
18  119  38.000000   1744.78     Joao Pessoa         A   2.100000     Ruim
19  120  18.000000   2238.17  Rio de Janeiro         A   9.800000      Bom